<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Material,Materialize，MDL">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="Materialize中文网">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>高效通知系统</title>

    <link rel="stylesheet" href="/static/materialize.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/prism.css">

    <script src="/static/jquery.min.js"></script>
    <script src="/static/materialize.min.js"></script>
    <script src="/static/prism.js"></script>
    <script src="/static/app.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>