{% extends "base.html" %}


{% block body %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        {% for new in news %}
            <div class="col s12 m4">
                <br/>
                <div class="promo-caption">
                    <div class="promo-caption">
                        {{ new.news_title }}
                        <i class="text-sm right-align pink lighten-4">截止时间: {{ new.end_time }}</i>
                    </div>
                    <p class="light text-lg">{{ new.news_content }}</p>
                    <p class="light text-sm right">发送时间：{{ new.post_time }}</p>
                </div>
                <br/> <br/>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content_title %}
    新闻公告
{% endblock %}